@model IEnumerable<Slider>

@{
    ViewData["Title"] = "Home Page";
}

<!-- about section -->
<section class="about_section layout_padding">
    <div class="container">
        <div class="detail-box">
            <div class="heading_container">
                <img src="images/heading-img.png" alt="">
                <h2>
                    About Us
                </h2>
            </div>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
            </p>
            <div class="btn-box">
                <a href="">
                    <span>
                        Read More
                    </span>
                    <img src="images/link-arrow.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->
@await Component.InvokeAsync("BestSeller")
<!-- pet section -->
<section class="pet_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="images/pet-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <img src="images/heading-img.png" alt="">
                        <h2>
                            Caring for your pets
                        </h2>
                    </div>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                    </p>
                    <div class="btn-box">
                        <a href="">
                            <span>
                                Read More
                            </span>
                            <img src="images/link-arrow.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end pet section -->
@await Component.InvokeAsync("Product")
@await Component.InvokeAsync("Feedback")
@await Component.InvokeAsync("Contact")