@model IEnumerable<Slider>

@{
    ViewData["Title"] = "Home Page";
}

<!-- about section -->
<section class="about_section layout_padding">
    <div class="container">
        <div class="detail-box">
            <div class="heading_container">
                <img style="height:50px;" src="~/images/carrot_2108318.png" alt="">
                <h2>
                    About Us
                </h2>
            </div>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
            </p>
            <div class="btn-box">
                <a href="">
                    <span>
                        Read More
                    </span>
                    <img src="images/link-arrow.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->
@* @await Component.InvokeAsync("BestSeller") *@
<!-- pet section -->
<section class="pet_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="~/images/carrot_2108318.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <img src="~/images/orange_4389074.png" alt="">
                        <h2>Welcome to AgriMarket</h2>
                        <p>Connecting Farmers and Customers for a Sustainable Future</p>
                    </div>
                    <p>
                        AgriMarket is an innovative online marketplace designed to bridge the gap between farmers and consumers.
                        Our platform empowers farmers to showcase their products directly to customers, ensuring fair prices,
                        transparency, and a seamless shopping experience.
                    </p>
                    <div class="btn-box">
                        <a href="">
                            <span>
                                Read More
                            </span>
                            <img src="~/images/link-arrow.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end pet section -->
 @await Component.InvokeAsync("Product") 
@await Component.InvokeAsync("Feedback")
@await Component.InvokeAsync("Contact")