@model IEnumerable<Product>
<!-- Product section -->
<style>
 
    .food_section .food_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
    }
</style>
<section class="food_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <img src="images/heading-img.png" alt="">
            <h2>
                Our products for farmers
            </h2>
            <p>
                Our products empower farmers with tools, resources, and solutions to enhance productivity, sustainability, and efficiency, supporting them throughout their agricultural journey.
            </p>
        </div>
        <div class="food_container">
            @foreach (var item in Model)
            {
                 <div class="box">
                <div class="img-box">
                    <img style="height:100px" src="@item.ProductImg" alt="@item.ProductDescription">
                </div>
                <div class="detail-box">
                    <h6>
                        @item.ProductName
                    </h6>
                    <h3>
                        <span>$</span>@item.ProductPrice
                    </h3>
                    <a href="">
                        Buy Now
                    </a>
                </div>
            </div>
            }
           
           
        </div>
    </div>
</section>
<!-- end Product section -->