@inject SignInManager<IdentityUser> signInManager
<!DOCTYPE html>
<html>
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/images/minlogo.png" type="x-icon" title="Atom">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>@ViewData["Title"]-AgriMarket</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JavaScript (optional, for interactive components) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />
    <style>
        .hero_area {
            background-image: url(../images/senior-man-working-field-with-chest-vegetables.jpg);
        }

        .navbar-brand img {
            width: 75px;
            height: 25px;
        }
    </style>
</head>

<body>
    <div class="hero_area ">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                    <a class="navbar-brand" asp-action="index" asp-controller="Home">
                        <img src="~/images/agrimarketlogo.png" alt="">
                    </a>
                    <div class="" id="">
                        <div class="User_option">
                            <form class="form-inline my-2  mb-3 mb-lg-0">
                                @User.Identity!.Name
                            </form>
                        </div>



                        <div class="custom_menu-btn">
                            <button onclick="openNav()">
                                <span class="s-1">

                                </span>
                                <span class="s-2">

                                </span>
                                <span class="s-3">

                                </span>
                            </button>
                        </div>
                        <div id="myNav" class="overlay">
                            <div class="overlay-content">
                                <a asp-action="index" asp-controller="Home">Home</a>

                                @if (signInManager.IsSignedIn(User))
                                {
                                    if (User.IsInRole("Admin"))
                                    {
                                        <a asp-action="Index" asp-controller="Home" asp-area="Dashboard"><i class="fa-solid fa-user-tie"> Admin</i></a>

                                        <a asp-action="RolesList" asp-controller="Account"><i class="fa-solid fa-screwdriver-wrench"> Role List</i></a>
                                    }
                                    if (User.IsInRole("Farmer") || User.IsInRole("Admin"))
                                    {
                                        <a asp-action="Index" asp-controller="Product"><i class="fa-solid fa-sitemap">Add Product</i> </a>
                                    }

                                    <a asp-action="Logout" asp-controller="Account">SignOut | @User.Identity!.Name</a>
                                }
                                else
                                {
                                    <a asp-action="Login" asp-controller="Account">Login</a>
                                }


                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
        @await Component.InvokeAsync("Slider")
    </div>

    <div>
        @RenderBody()
    </div>
    <!-- info section -->
    <section class="info_section ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="info_contact">
                        <h5>
                            CONTACT INFO
                        </h5>
                        <div>
                            <img src="images/call.png" alt="" />
                            <p>
                                +972790172586
                            </p>
                        </div>
                        <div>
                            <img src="images/mail.png" alt="" />
                            <p>
                                WaleedKhalidShurafa@outlook.sa
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="info_time">
                        <h5>
                        </h5>
                        <div>
                            <p>

                            </p>
                        </div>
                        <div>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="info_social">
                        <h5>
                            social media
                        </h5>
                        <div class="social_container">
                            <div>
                                <a href="https://web.facebook.com/waleed.alshurafa.3">
                                    <img src="~/images/fb.png" alt="" />
                                </a>
                            </div>
                            <div>
                                <a href="https://x.com/Waleed_jo_pl">
                                    <img src="~/images/twitter.png" alt="" />
                                </a>
                            </div>
                            <div>
                                <a href="https://www.linkedin.com/in/waleed-alshurafa-83038b217/">
                                    <img src="~/images/linkedin.png" alt="" />
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="info_form pl-lg-4">
                        <h5>
                            Newsletter
                        </h5>
                        <form action="">
                            <input type="text" placeholder="Enter Your Email" />
                            <button type="submit">
                                Subscribe
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end info_section -->
    <!-- footer section -->
    <section class="container-fluid footer_section ">
        <p>
            © 2024 All Rights Reserved. AgriMarket
        </p>
    </section>
    <!-- end  footer section -->


    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <script>
        function openNav() {
          document.getElementById("myNav").classList.toggle("menu_width")
          document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
        }
    </script>

</body>

</html>