@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="zomo">
    <meta name="keywords" content="zomo">
    <meta name="author" content="zomo">
    <link rel="icon" href="assets/images/logo/favicon.png" type="image/x-icon">
    <title>zomo Web</title>
    <link rel="apple-touch-icon" href="assets/images/logo/favicon.png">
    <meta name="theme-color" content="#ff8d2f">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="zomo">
    <meta name="msapplication-TileImage" content="assets/images/logo/favicon.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- bootstrap css -->
    <link rel="stylesheet" id="rtl-link" type="text/css" href="~/assets/css/vendors/bootstrap.css">

    <!-- remixicon css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/remixicon.css">

    <!-- Theme css -->
    <link rel="stylesheet" id="change-link" type="text/css" href="~/assets/css/style.css">
</head>

<!-- signin page start -->
<section class="login-hero-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-10 m-auto">
                <div class="login-data">
                    <form class="auth-form" method="post" asp-action="Login" asp-controller="Account">
                        <h2>Sign in</h2>
                        <h5>
                            or
                            <a asp-action="Register" asp-controller="Account"><span class="theme-color">create an a account</span></a>
                        </h5>
                        <div class="form-input" >
                            <input asp-for="Email" class="form-control" placeholder="Enter your Email">
                            <span asp-validation-for="Email"></span>
                            <i class="ri-phone-line"></i>
                        </div>
                        <div class="form-input">
                            <input asp-for="Password" class="form-control" placeholder="Enter your password">
                            <span asp-validation-for="Password"></span>
                            <i class="ri-lock-password-line"></i>
                        </div>
                        <button type="submit" class="btn theme-btn submit-btn w-100 rounded-2">CONTINUE</button>
                        
                        <p class="fw-normal content-color">
                            
                            <span class="fw-semibold">
                                <a asp-action="Index" asp-controller="Home">Go Back to Home</a>
                            </span>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- signin page end -->
